body {
    background-color: #BFBDC1;
    margin: auto;
}

header {
    height: 6em;
    align-items:center;
    background-color: #D96C06;
    color: #0F0A0A;
    text-align: center;
    display:flex;
    justify-content: center;
}

footer {
    height: 6em;
    background-color: #D96C06;
    text-align: center;
}

#submit-button {
  border-radius: 5px;
  border: 2px solid #0F0A0A;
}

.button-item {
  text-align: right;
  margin-right: 5em;
}

form input{
  border-radius: 15px;
}

.total-monthly p {
  text-align: right;
  margin-right: 5em;
}



/* Table Elements */
table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 0.5px solid black;
    border-collapse: collapse;
    height: 2em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #2292A4;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }
  
#footer-table {
    background: #e0dce8;
    border: 0.5px solid black;
    border-collapse: collapse;
  }
  