body {
    background-color: #BFBDC1;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #0F0A0A; 
}

header {
    height: 6em;
    align-items:center;
    background-color: #D96C06;
    color: #0F0A0A;
    text-align: center;
    display:flex;
    justify-content: center;
}

footer {
    height: 6em;
    background-color: #D96C06;
    text-align: center;
}

main h1 {
  margin-left: 0.5em;
}

#submit-button {
  border-radius: 5px;
  border: 2px solid #0F0A0A;
}

.button-item {
  text-align: right;
  margin-right: 5em;
}

#first-name-input {
  margin-left: 1em;
}

.table-section {
  margin-left: 2em;
}

form input{
  border-radius: 15px;
}

.total-monthly p {
  text-align: right;
  margin-right: 5em;
}

table {
    width: 85%;
    text-align: left;
    border: 0.5px solid #0F0A0A;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #0F0A0A;
    height: 1em;
    padding: .5em;
    min-width: 3.5em;
  }

  thead {
    background: #2292A4;
    color: #fcfcfc;
  }

  tbody tr:nth-child(odd){ 
    background: #F5EFED;
  }

  tbody tr:last-child{
    text-align: center;
  }

  tbody tr:nth-child(even){
    background: #BDBF09;
  }
  
#footer-table {
    background: #e0dce8;
    border: 0.5px solid black;
    border-collapse: collapse;
  }
  

  /*
  Color Pallet 

  black #0F0A0A
  white #F5EFED
  blue #2292A4
  green #BDBF09
  orange #D96C06
  */

